.menu {
	float: left;
	width: 15%;
	background: #dee2e3;	
}

.divider {
	border: 2px solid gray;
}

.item {
	text-align:center;
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 5%;
	color: #276945;
	
}
.content {
	float: left
	width: 85%;

}

#profilepic {
    display: block;
    width: 100%;
}

.leftbox {
	float: left;
	width: 20%;
	margin-left: 2%;
	margin-top: 2%;
	background: green;
}

.rightbox {
	float: left;
	width: 40%;
	margin-left: 2%;
	margin-top: 2%;
}
#name {
	font-size: 4vw;
	text-align: center;
	color: #276945;
	font-family: 'Roboto', sans-serif;
	font-weight: 700
	
}

.line {
	 border: 4px solid gray;
	 margin-bottom: 0;
}

.vl {
	border-left: 8px solid gray;
	height: 100vh;
    float: right;
}

.sep {
	border: 1px solid gray;
}

.aboutinfo {
	float: left;
	width: 75%;
	margin-left: 2%;
	margin-top: 2%;
}

.contact {
	color: #276945;
	font-size: 2vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 700
}

a {
  font-size: 1.5vw;
}
